.dropdown:hover>.dropdown-menu{
	display: block;
}

.bg{
	background:url('../img/mac.jpg') no-repeat;
	width: 100%;
	height: 100vh;
}

.navbar:hover {
	background: #e4e2c6 none repeat scroll 0 0 !important;
	border-color: rgba(34, 34, 34, 0.1);
}

.navbar:hover .nav-brand{
	color:black;
}

.navbar-default *:hover{
background:transparent !important;
}

.dropdown .dropdown-menu{
	background-color: #e4e2c6;
}
.dropdown .dropdown-item:hover{
	background-color: #cccaca;
}
