#teamlogo{
	width: 50px;
	height: 34px;
}

[class*="col-"]{
	padding: 1rem;
}

figure{
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0!important;
}

.fixed-wrap{
	clip:rect(0,auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#fixed{
	background-image: url(img/mac.jpg);
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform:translateZ(0);
			transform:translateZ(0);
	will-change:transform;
}

.bg{
	background:url('../img/mac.jpg') no-repeat;
	width: 100%;
	height: 100vh;
}

.form-container{
	border: 0px solid #fff;
	padding: 30px 40px;
	margin-top: 15vh;
	-webkit-box-shadow: -2px 6px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 6px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -2px 6px 26px 11px rgba(0,0,0,0.75);
}

.dropdown:hover>.dropdown-menu{
	display: block;
}

#mainNav.navbar-shrink{
	border-color: rgba(34,34,34,0.1);
	background-color: white;
}