.dropdown:hover>.dropdown-menu{
	display: block;
}

.bg{
	background:url('../img/mac.jpg') no-repeat;
	width: 100%;
	height: 100vh;
}

.navbar:hover {
	background: white none repeat scroll 0 0 !important;
	border-color: rgba(34, 34, 34, 0.1);
  }
.navbar:hover > li > a{
	color:#222222;
}
 .navbar-default *:hover{
 background:transparent !important;
 }
